@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --white: #ffffff;
}

html {
  font-size: 16px;
}

body {
  color: var(--white);
  background: linear-gradient(to bottom right, #000000, #424242);
  overflow-x: hidden;
}

.nav-itens:hover {
  color: rgb(96 165 250 / 1);
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}
h4 {
  font-size: 1.5rem;
}

li {
  font-size: 1.2rem;
}
.custom-list {
  list-style-type: initial;
}

@media (max-width: 600px) {
  html {
    font-size: 10px;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
